<nav class="bg-gray-800 sticky top-0 z-50">
  <div class="container mx-auto">
    <div class="md:flex justify-around">
      <a [routerLink]="['/']" class="text-white text-3xl font-bold p-3">Buy&Drive</a>

      <ul class="text-gray-400 md:self-center text-xl border-t md:border-none">
        <li *ngIf="!logIn" class="md:inline-block">
          <a [routerLink]="['/signup']" [routerLinkActive]="['bg-gray-700']" [routerLinkActiveOptions]="{ exact: true }" class="p-3 hover:text-white">Sign up</a>
        </li>
        <li *ngIf="!logIn" class="md:inline-block">
          <a [routerLink]="['/login']" [routerLinkActive]="['bg-gray-700']" [routerLinkActiveOptions]="{ exact: true }" class="p-3 hover:text-white">Log in</a>
        </li>



        <li *ngIf="logIn" class="md:inline-block">
          <a [routerLink]="['/car-list']" [routerLinkActive]="['bg-gray-700']" [routerLinkActiveOptions]="{ exact: true }" class="p-3 hover:text-white">Find a Car</a>
        </li>
        <li *ngIf="logIn" class="md:inline-block">
          <a [routerLink]="['/favorites']" [routerLinkActive]="['bg-gray-700']" [routerLinkActiveOptions]="{ exact: true }" class="p-3 hover:text-white">Favorites</a>
        </li>
        <li *ngIf="logIn" class="md:inline-block">
          <a [routerLink]="['/new_car']" [routerLinkActive]="['bg-gray-700']" [routerLinkActiveOptions]="{ exact: true }" class="p-3 hover:text-white">Sell Your Car</a>
        </li>
        <li *ngIf="isAdmin" class="md:inline-block">
          <a *ngIf="logIn" [routerLink]="['/approve_cars']" [routerLinkActive]="['bg-gray-700']" [routerLinkActiveOptions]="{ exact: true }" class="p-3 hover:text-white">Approve Cars</a>
        </li>
        <li class="md:inline-block">
          <a *ngIf="logIn" [routerLink]="['/my_cars']" [routerLinkActive]="['bg-gray-700']" [routerLinkActiveOptions]="{ exact: true }" class="p-3 hover:text-white">My Cars</a>
        </li>
        <li *ngIf="logIn" class="md:inline-block" (click)="logout()">
          <button class="p-3 hover:text-white">Log out</button>
        </li>
        <li *ngIf="logIn" class="md:inline-block">
          <a class="p-10"></a>
        </li>
        <li *ngIf="logIn" class="md:inline-block">
          <a class="p-10">{{getFullName()}}</a>
        </li>

      </ul>

    </div>
  </div>
</nav>
