<nav class="bg-gray-800">
  <div class="container mx-auto">
    <div class="sm:flex justify-around">
      <a [routerLink]="['/']" class="text-white text-3xl font-bold p-3">Kupi i Vozi</a>
      
      <ul class="text-gray-400 sm:self-center text-xl border-t sm:border-none">
        <li class="sm:inline-block">
          <a [routerLink]="['/']" class="p-3 hover:text-white">Pretraga</a>
        </li>
        <li class="sm:inline-block">
          <a [routerLink]="['/favorites']" class="p-3 hover:text-white">Favoriti</a>
        </li>
        <li class="sm:inline-block">
          <a [routerLink]="['/signup']" class="p-3 hover:text-white">Registracija</a>
        </li>
        <li class="sm:inline-block">
          <a href="#" class="p-3 hover:text-white">Dodaj oglas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
