<form [formGroup]="resetPasswordEmailForm" (ngSubmit)="onSubmit()">
  <div class="bg-grey-lighter min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
      <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
        <h1 class="mb-8 text-3xl text-center">Reset Password</h1>
        <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="email"
          placeholder="Email" formControlName="email" />


        <div
          *ngIf="resetPasswordEmailForm.controls['email'].invalid && (resetPasswordEmailForm.controls['email'].dirty || resetPasswordEmailForm.controls['email'].touched)"
          class="text-red-500">
          <div *ngIf="resetPasswordEmailForm.controls['email'].errors!.required">
            Email is required.
          </div>
          <div *ngIf="resetPasswordEmailForm.controls['email'].errors!.email">
            Email must be in valid format
          </div>
        </div>
        <button type="submit" [disabled]="!resetPasswordEmailForm.valid"
          class="w-full text-center bg-gray-800 py-3 text-white rounded bg-green hover:text-gray-300 focus:outline-none my-1">Submit
        </button>
      </div>
    </div>
  </div>
</form>
