<div class="container my-2">
    <form [formGroup]="searchFilters">
        
        <input class="rounded-l-full w-full px-6 text-gray-700 leading-tight focus:outline-none" 
                name="searchText" id="searchText" formControlName="searchText" type="text" placeholder="Pretraga po nazivu...">
    
        <p>Cena od: </p>
        <input name="priceFrom" id="priceFrom" formControlName="priceFrom" placeholder="Cena od:">
        <p>Cena do:</p>
        <input name="priceTo" id="priceTo" formControlName="priceTo" placeholder="Cena do:">
        <select class="form-select mt-1 block w-full" formControlName="type">
            <option>Polovna i nova vozila</option>
            <option>Samo polovna vozila</option>
            <option>Samo nova vozila</option>
          </select>
    </form>
</div>
<p>Pronadjeno {{(cars | searchFilter : searchFilters.value).length}} rezultata</p>
<div class="container lg:grid lg:grid-cols-2">

    <a  [routerLink]="['/car', car.id]" class="m-3 flex bg-gray-100" *ngFor="let car of cars | searchFilter : searchFilters.value">
        <div class="lg:flex-shrink-0">
            <img class="rounded-lg sm:w-96 sm:h-48 md:w-96 md:h-48  lg:w-64 lg:h-40" src="{{ car.images[0] }}" alt="" /> 
        </div>
        <div class="pl-2 bg-red-50 w-full">
            <div class="bg-gray-900">
                <div class="uppercase tracking-wide text-sm text-white font-bold"> {{ car.model }} </div>
                <p class="block mt-1 text-sm leading-tight font-semibold text-white"> {{ car.price }} € </p>
            </div>
            <main>
                <span class="font-bold">Type: </span><span>{{ car.type }}</span>
            </main>
            <main>
                <span class="font-bold">Year: </span><span>{{ car.year }}</span>
            </main>
            <main>
                <span class="font-bold">Milage: </span><span>{{ car.mileage }}km</span>
            </main>
            <main>
                <span class="font-bold">Engine Size: </span><span> {{ car.engineSize }}Liter </span>
            </main>
            <main>
                <span class="font-bold">Transmission: </span><span>{{ car.transmission }}</span>
            </main>
        </div>
    </a>

</div>