<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<form [formGroup]="signupForm" (ngSubmit)="submitForm(signupForm.value)">
  <div class="bg-grey-lighter min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
      <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
        <h1 class="mb-8 text-3xl text-center">Sign up</h1>
        <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="fullname"
          placeholder="Name" formControlName="firstName" />
        <div
          *ngIf="signupForm.controls['firstName'].invalid && (signupForm.controls['firstName'].dirty || signupForm.controls['firstName'].touched)"
          class="text-red-500">
          <div *ngIf="signupForm.controls['firstName'].errors!.required">
            Name is required.
          </div>
        </div>


        <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="email"
          placeholder="Email" formControlName="email" />
        <div
          *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched)"
          class="text-red-500">
          <div *ngIf="signupForm.controls['email'].errors!.required">
            Email is required.
          </div>
          <div *ngIf="signupForm.controls['email'].errors!.email">
            Email must be in valid format
          </div>
        </div>

        <input type="password" class="block border border-grey-light w-full p-3 rounded mb-4" name="password"
          placeholder="Password" formControlName="password" />

        <div
          *ngIf="signupForm.controls['password'].invalid && (signupForm.controls['password'].dirty || signupForm.controls['password'].touched)"
          class="text-red-500">
          <div *ngIf="signupForm.controls['password'].errors!.required">
            Password is required.
          </div>
          <div *ngIf="signupForm.controls['password'].errors!.minlength">
            Password must be at least 8 characters long.
          </div>
        </div>

        <input type="password" class="block border border-grey-light w-full p-3 rounded mb-4" name="confirm_password"
          placeholder="Repeat password" formControlName="repeatPassword" />
        <div
          *ngIf="signupForm.controls['password'].invalid && (signupForm.controls['password'].dirty || signupForm.controls['password'].touched)"
          class="text-red-500">
          <div *ngIf="signupForm.controls['password'].errors!.required">
            This field is required.
          </div>
        </div>

        <button type="submit" [disabled]="!signupForm.valid"
          class="w-full text-center bg-gray-800 py-3 text-white rounded bg-green hover:text-gray-300 focus:outline-none my-1"
          (click)="submitForm">
          Submit
        </button>
      </div>

      <div class="text-grey-dark mt-6">
        Already have an account?
        <a class="underline hover:no-underline border-b border-blue text-blue" href="../login">
          Log in here.
        </a>
        <button type="button" (click)="signUpWithGoogle()"
          class="w-full text-center bg-gray-800 py-3 text-white rounded bg-green hover:text-gray-300 focus:outline-none my-1">Sign
          up with Google
        </button>
      </div>
    </div>

  </div>
</form>
