<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
  <div class="bg-grey-lighter min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
      <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
        <h1 class="mb-8 text-3xl text-center">Log in</h1>
        <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="email"
          placeholder="Email" formControlName="email" />


        <div
          *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)"
          class="text-red-500">
          <div *ngIf="loginForm.controls['email'].errors!.required">
            Email is required.
          </div>
          <div *ngIf="loginForm.controls['email'].errors!.email">
            Email must be in valid format
          </div>
        </div>

        <input type="password" class="block border border-grey-light w-full p-3 rounded mb-4" name="password"
          placeholder="Password" formControlName="password" />

        <div
          *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
          class="text-red-500">
          <div *ngIf="loginForm.controls['password'].errors!.required">
            Password is required.
          </div>
        </div>

        <button type="submit" [disabled]="!loginForm.valid"
          class="w-full text-center bg-gray-800 py-3 text-white rounded bg-green hover:text-gray-300 focus:outline-none my-1">Submit
        </button>
        <p class="text-center">
          <a class="underline hover:no-underline border-b border-blue text-blue" href="../reset_password">Forgot your password? </a>
        </p>
      </div>

      <div class="text-grey-dark mt-6">
        Don't have an account?
        <a class="underline hover:no-underline border-b border-blue text-blue" href="../signup">
          Register here.
        </a>
        <button type="button" (click)="logInWithGoogle()"
          class="w-full text-center bg-gray-800 py-3 text-white rounded bg-green hover:text-gray-300 focus:outline-none my-1">Log
          in with Google
        </button>
      </div>
    </div>
  </div>
</form>
