<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm.value)">
  <div class="bg-grey-lighter min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
      <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
        <h1 class="mb-8 text-3xl text-center">Reset Password</h1>

        <input type="password" class="block border border-grey-light w-full p-3 rounded mb-4" name="password"
          placeholder="Password" formControlName="password" />

        <div
          *ngIf="resetPasswordForm.controls['password'].invalid && (resetPasswordForm.controls['password'].dirty || resetPasswordForm.controls['password'].touched)"
          class="text-red-500">
          <div *ngIf="resetPasswordForm.controls['password'].errors!.required">
            Password is required.
          </div>
          <div *ngIf="resetPasswordForm.controls['password'].errors!.minlength">
            Password must be at least 8 characters long.
          </div>
        </div>

        <input type="password" class="block border border-grey-light w-full p-3 rounded mb-4" name="confirm_password"
          placeholder="Repeat password" formControlName="repeatPassword" />
        <div
          *ngIf="resetPasswordForm.controls['password'].invalid && (resetPasswordForm.controls['password'].dirty || resetPasswordForm.controls['password'].touched)"
          class="text-red-500">
          <div *ngIf="resetPasswordForm.controls['password'].errors!.required">
            This field is required.
          </div>
        </div>

        <button type="submit" [disabled]="!resetPasswordForm.valid"
          class="w-full text-center bg-gray-800 py-3 text-white rounded bg-green hover:text-gray-300 focus:outline-none my-1"
          >
          Submit
        </button>
      </div>
    </div>

  </div>
</form>
