<div class="container mx-auto px-5 flex flex-col bg-gray-100 items-center justify-center m-8">
    <h2 class="text-3xl font-bold p-3 my-3">Enter Your Car Info</h2>

    <form [formGroup]="newCar">
        <div class="flex lg:flex-row flex-col p-3">
            <div class="mx-5 px-5 w-full lg:w-1/2">

              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 required">Make:</label>
                <input type="text" formControlName="make" placeholder="e.g. BMW"
                class="block border border-grey-light w-full rounded mb-1 p-2">
                <div
                  *ngIf="newCar.controls['make'].invalid && (newCar.controls['make'].dirty || newCar.controls['make'].touched)"
                  class="text-red-500 text-md">
                  <div *ngIf="newCar.controls['make'].errors!.required">
                    Make is required.
                  </div>
                </div>
              </div>

              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 required">Model:</label>
                <input type="text" formControlName="model" placeholder="e.g. X3"
                class="block border border-grey-light w-full rounded mb-1 p-2">
                <div
                  *ngIf="newCar.controls['model'].invalid && (newCar.controls['model'].dirty || newCar.controls['model'].touched)"
                  class="text-red-500 text-md">
                  <div *ngIf="newCar.controls['model'].errors!.required">
                    Model is required.
                  </div>
                </div>
              </div>

              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 required">Year:</label>
                <input type="number" formControlName="year" placeholder="e.g. 2010"
                class="block border border-grey-light w-full rounded mb-1 p-2">
                <div
                  *ngIf="newCar.controls['year'].invalid && (newCar.controls['year'].dirty || newCar.controls['year'].touched)"
                  class="text-red-500 text-md">
                  <div *ngIf="newCar.controls['year'].errors!.required">
                    Year is required.
                  </div>
                  <div *ngIf="newCar.controls['year'].errors!">
                    Year must be between 1900 and 2021.
                  </div>
                </div>
              </div>

              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 required">Mileage (km):</label>
                <input type="number" formControlName="mileage" placeholder="e.g. 123456.7"
                class="block border border-grey-light w-full rounded mb-1 p-2">
                <div
                  *ngIf="newCar.controls['mileage'].invalid && (newCar.controls['mileage'].dirty || newCar.controls['mileage'].touched)"
                  class="text-red-500 text-md">
                  <div *ngIf="newCar.controls['mileage'].errors!.required">
                    Mileage is required.
                  </div>
                  <div *ngIf="newCar.controls['mileage'].errors!.min">
                    Mileage must be greater than 0.
                  </div>
                  <div *ngIf="newCar.controls['mileage'].errors!.max">
                    Mileage must be lesser than 3,000,000.
                  </div>
                </div>
              </div>

              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 required">Type:</label>
                <select class="form-select" formControlName="type"
                class="block border border-grey-light w-full rounded mb-1 p-2">
                    <option value="" disabled selected>Used or new</option>
                    <option>Used</option>
                    <option>New</option>
                </select>
                <div
                  *ngIf="newCar.controls['type'].invalid && (newCar.controls['type'].dirty || newCar.controls['type'].touched)"
                  class="text-red-500 text-md">
                  <div *ngIf="newCar.controls['type'].errors!.required">
                    Type is required.
                  </div>
                </div>
              </div>

              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 required">Body:</label>
                <select class="form-select" formControlName="body"
                class="block border border-grey-light w-full rounded mb-1 p-2">
                    <option value="" disabled selected>Body</option>
                    <option>Sedan</option>
                    <option>Coupe</option>
                    <option>Sports car</option>
                    <option>Station wagon</option>
                    <option>Hatchback</option>
                    <option>Convertible</option>
                    <option>SUV</option>
                    <option>Minivan</option>
                    <option>Pickup truck</option>
                </select>
                <div
                  *ngIf="newCar.controls['body'].invalid && (newCar.controls['body'].dirty || newCar.controls['body'].touched)"
                  class="text-red-500 text-md">
                  <div *ngIf="newCar.controls['body'].errors!.required">
                    Body is required.
                  </div>
                </div>
              </div>

              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 required">Color:</label>
                <select class="form-select" formControlName="color"
                class="block border border-grey-light w-full rounded mb-1 p-2">
                    <option value="" disabled selected>Color</option>
                    <option>Black</option>
                    <option>Gray</option>
                    <option>White</option>
                    <option>Red</option>
                    <option>Green</option>
                    <option>Blue</option>
                </select>
                <div
                  *ngIf="newCar.controls['color'].invalid && (newCar.controls['color'].dirty || newCar.controls['color'].touched)"
                  class="text-red-500 text-md">
                  <div *ngIf="newCar.controls['color'].errors!.required">
                    Color is required.
                  </div>
                </div>
              </div>

              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 required">Price (€):</label>
                <input type="number" formControlName="price" placeholder="e.g. 25400"
                class="block border border-grey-light w-full rounded mb-1 p-2">
                <div
                  *ngIf="newCar.controls['price'].invalid && (newCar.controls['price'].dirty || newCar.controls['price'].touched)"
                  class="text-red-500 text-md">
                  <div *ngIf="newCar.controls['price'].errors!.required">
                    Price is required.
                  </div>
                  <div *ngIf="newCar.controls['price'].errors!.min">
                    Price must be greater than 0.
                  </div>
                </div>
              </div>

              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 required">Country of origin:</label>
                <input type="text" formControlName="country" placeholder="e.g. Serbia"
                class="block border border-grey-light w-full rounded mb-1 p-2">
                <div
                  *ngIf="newCar.controls['country'].invalid && (newCar.controls['country'].dirty || newCar.controls['country'].touched)"
                  class="text-red-500 text-md">
                  <div *ngIf="newCar.controls['country'].errors!.required">
                    Country is required.
                  </div>
                </div>
              </div>

              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 required">Images:</label>
                <input type="file" (change)="onChange($event)" multiple
                class="block border border-grey-light w-full rounded mb-1 p-2">
              </div>
            </div>
            <div class="mx-5 px-5 w-full lg:w-1/2">

              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 required">Engine size (l):</label>
                <input type="number" formControlName="engineSize" placeholder="e.g. 1.9"
                class="block border border-grey-light w-full rounded mb-1 p-2">
                <div
                  *ngIf="newCar.controls['engineSize'].invalid && (newCar.controls['engineSize'].dirty || newCar.controls['engineSize'].touched)"
                  class="text-red-500 text-md">
                  <div *ngIf="newCar.controls['engineSize'].errors!.required">
                    Engine size is required.
                  </div>
                  <div *ngIf="newCar.controls['engineSize'].errors!.min">
                    Engine size must be greater than 0.
                  </div>
                  <div *ngIf="newCar.controls['engineSize'].errors!.max">
                    Engine size must be lesser than 10.
                  </div>
                </div>
              </div>

              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 required">Fuel type:</label>
                <select class="form-select" formControlName="fuelType"
                class="block border border-grey-light w-full rounded mb-1 p-2">
                    <option value="" disabled selected>Fuel type</option>
                    <option>TNG</option>
                    <option>CNG</option>
                    <option>Diesel</option>
                    <option>Petrol</option>
                    <option>Electric</option>
                    <option>Hybrid</option>
                </select>
                <div
                  *ngIf="newCar.controls['fuelType'].invalid && (newCar.controls['fuelType'].dirty || newCar.controls['fuelType'].touched)"
                  class="text-red-500 text-md">
                  <div *ngIf="newCar.controls['fuelType'].errors!.required">
                    Fuel type is required.
                  </div>
                </div>
              </div>

              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 required">Emission class:</label>
                <select class="form-select" formControlName="emissionClass"
                class="block border border-grey-light w-full rounded mb-1 p-2">
                    <option value="" disabled selected>Emission class</option>
                    <option>Euro 1</option>
                    <option>Euro 2</option>
                    <option>Euro 3</option>
                    <option>Euro 4</option>
                    <option>Euro 5</option>
                    <option>Euro 6</option>
                </select>
                <div
                  *ngIf="newCar.controls['emissionClass'].invalid && (newCar.controls['emissionClass'].dirty || newCar.controls['emissionClass'].touched)"
                  class="text-red-500 text-md">
                  <div *ngIf="newCar.controls['emissionClass'].errors!.required">
                    Emission class is required.
                  </div>
                </div>
              </div>

              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 required">Transmission:</label>
                <select class="form-select" formControlName="transmission"
                class="block border border-grey-light w-full rounded mb-1 p-2">
                    <option value="" disabled selected>Transmission</option>
                    <option>Manual</option>
                    <option>Automatic</option>
                    <option>CVT</option>
                </select>
                <div
                  *ngIf="newCar.controls['transmission'].invalid && (newCar.controls['transmission'].dirty || newCar.controls['transmission'].touched)"
                  class="text-red-500 text-md">
                  <div *ngIf="newCar.controls['transmission'].errors!.required">
                    Transmission is required.
                  </div>
                </div>
              </div>

              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 required">Damage:</label>
                <select class="form-select" formControlName="damage"
                class="block border border-grey-light w-full rounded mb-1 p-2">
                    <option value="" disabled selected>Damage</option>
                    <option>Not Damaged</option>
                    <option>Damaged - Drivable</option>
                    <option>Damaged - Non-Drivable</option>
                </select>
                <div
                  *ngIf="newCar.controls['damage'].invalid && (newCar.controls['damage'].dirty || newCar.controls['damage'].touched)"
                  class="text-red-500 text-md">
                  <div *ngIf="newCar.controls['damage'].errors!.required">
                    Damage is required.
                  </div>
                </div>
              </div>

              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 required">Horsepower (kW):</label>
                <input type="number" formControlName="horsepower" placeholder="e.g. 180"
                class="block border border-grey-light w-full rounded mb-1 p-2">
                <div
                  *ngIf="newCar.controls['horsepower'].invalid && (newCar.controls['horsepower'].dirty || newCar.controls['horsepower'].touched)"
                  class="text-red-500 text-md">
                  <div *ngIf="newCar.controls['horsepower'].errors!.required">
                    Horsepower is required.
                  </div>
                  <div *ngIf="newCar.controls['horsepower'].errors!.min">
                    Horsepower must be greater than 0.
                  </div>
                  <div *ngIf="newCar.controls['horsepower'].errors!.max">
                    Horsepower must be lesser than 500.
                  </div>
                </div>
              </div>

              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 required">Number of doors:</label>
                <input type="number" formControlName="numberOfDoors" placeholder="e.q. 3"
                class="block border border-grey-light w-full rounded mb-1 p-2">
                <div
                  *ngIf="newCar.controls['numberOfDoors'].invalid && (newCar.controls['numberOfDoors'].dirty || newCar.controls['numberOfDoors'].touched)"
                  class="text-red-500 text-md">
                  <div *ngIf="newCar.controls['numberOfDoors'].errors!.required">
                    No. of doors is required.
                  </div>
                  <div *ngIf="newCar.controls['numberOfDoors'].errors!">
                    No. of doors must be between 3 and 5.
                  </div>
                </div>
              </div>

              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 required">Number of seats:</label>
                <input type="number" formControlName="numberOfSeats" placeholder="e.q. 5"
                class="block border border-grey-light w-full rounded mb-1 p-2">
                <div
                  *ngIf="newCar.controls['numberOfSeats'].invalid && (newCar.controls['numberOfSeats'].dirty || newCar.controls['numberOfSeats'].touched)"
                  class="text-red-500 text-md">
                  <div *ngIf="newCar.controls['numberOfSeats'].errors!.required">
                    No. of seats is required.
                  </div>
                  <div *ngIf="newCar.controls['numberOfSeats'].errors!.min">
                    No. of seats must be greater than 0.
                  </div>
                  <div *ngIf="newCar.controls['numberOfSeats'].errors!.max">
                    No. of seats must be lesser than 10.
                  </div>
                </div>
              </div>

              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 required">Boot capacity (l):</label>
                <input type="number" formControlName="bootCapacity" placeholder="e.q. 210.5"
                class="block border border-grey-light w-full rounded mb-1 p-2">
                <div
                  *ngIf="newCar.controls['bootCapacity'].invalid && (newCar.controls['bootCapacity'].dirty || newCar.controls['bootCapacity'].touched)"
                  class="text-red-500 text-md">
                  <div *ngIf="newCar.controls['bootCapacity'].errors!.required">
                    Capacity is required.
                  </div>
                  <div *ngIf="newCar.controls['bootCapacity'].errors!.min">
                    Capacity must be greater than 0.
                  </div>
                  <div *ngIf="newCar.controls['bootCapacity'].errors!.max">
                    Capacity must be lesser than 700.
                  </div>
                </div>
              </div>

              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 required">Registred Until:</label>
                <input type="date" formControlName="registeredUntil"
                class="block border border-grey-light w-full rounded mb-1 p-2">
                <div
                  *ngIf="newCar.controls['registeredUntil'].invalid && (newCar.controls['registeredUntil'].dirty || newCar.controls['registeredUntil'].touched)"
                  class="text-red-500 text-md">
                  <div *ngIf="newCar.controls['registeredUntil'].errors!.required">
                    Registered date is required.
                  </div>
                </div>
              </div>

              <div class="mb-4">
                <label class="block">
                    <input class="mr-2 leading-tight" type="checkbox"  formControlName="AC" >
                    <span class="text-gray-700 text-sm font-bold mb-2">AC</span>
                </label>
              </div>
            </div>
        </div>

        <div class="mx-5 px-5 w-full mb-4 ml-8">
          <label class="block text-gray-700 text-sm font-bold mb-2">Description (optional):</label>
          <textarea class="block align-middle resize-none w-11/12 border border-grey-light rounded mb-1 p-2" placeholder="Some additional information about your car..." formControlName="description"></textarea>
        </div>

        <button type="submit" (click)="add(newCar.value)"
        class="ml-4 w-full text-center bg-gray-800 py-2 text-white rounded bg-green hover:text-gray-300 focus:outline-none my-2"
        >Add</button>
    </form>
</div>
